@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: #161616;
}

.menu {
    position: absolute;
    left: 10%;
    top: 20%;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.menu-item {
    position: relative;
    flex: 1;
    /* make all link elements space evenly on flex container */
    border-bottom: 1px solid rgba(255, 255, 255, 0.071);
}

nav span {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-decoration: none;
    mix-blend-mode: difference;
    font-size: 30px;
    padding-left: 1rem;
    /* you can't apply transormations to span elements since its (inline) so use inline-block */
}

.one {
    background-image: url(../img/image1.jpg);
}

.two {
    background-image: url(../img/image2.jpg);
}

.three {
    background-image: url(../img/image3.jpg);
}

.four {
    background-image: url(../img/image4.jpg);
}

.five {
    background-image: url(../img/image5.jpg);
}

.hover-reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    opacity: 0;
    pointer-events: none;
    /* transform: translate(0, -300px); */
    /*transition: 0.2s ease-out;*/
}

.hover-reveal__inner {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
    overflow: hidden;
    /* dont want img to overflow this div */
}

.hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
    transform-origin: 50% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    /* relative to inner div */
    will-change: transform;
    transform: scale(0.8, 0.8);
    transition: 1.5s transform;
    border: 2px solid red;
}